@using MobilePhotographyCommunity.Data.ViewModel
@model IEnumerable<CategoryVm>
@{
    ViewBag.Title = "Quản lý danh mục bài viết";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content px-4">
    <h1 class="title-content">Chủ đề</h1>
    <div class="create-update-category-region mt-2">
        <a href="/Admin/Category/Add" class="btn btn-primary">
            <i class="fal fa-plus"></i> Thêm mới
        </a>

    </div>
    <div class="row">
        <div class="col-md-12 mt-2">
            <div class="search-box float-right">
                <form action="" method="post">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Tìm kiếm">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="list-category">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th width="190px">Tên chủ đề</th>
                    <th>Mô tả</th>
                    <th width="200px">Người tạo</th>
                    <th width="105px">Ngày tạo</th>
                    <th width="90px"><input type="checkbox" name="" id=""> Chọn</th>
                    <th width="180px">Chức năng</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CategoryName</td>
                        <td>@item.Description</td>
                        <td>
                            <img src="~/UploadImage/Avatar/@item.User.Avatar" alt=""
                                 style="width: 40px; height: 40px; border-radius: 50%;">
                            <span>@item.User.FirstName @item.User.LastName</span>
                        </td>
                        <td>@Convert.ToDateTime(item.CreatedTime).ToString("dd/MM/yyyy")</td>
                        <td><input type="checkbox" name="" id=""></td>
                        <td>
                            <a href="" class="btn btn-warning" title="Sửa"><i class="fal fa-edit"></i></a>
                            <a href="" class="btn btn-danger" title="Xóa"><i class="fal fa-trash-alt"></i></a>
                            <label class="switch" title="Hiển thị trang chủ">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                            </label>
                        </td>
                    </tr>
                }

                
            </tbody>
        </table>
    </div>
    @*<ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Trước</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Tiếp</a></li>
    </ul>*@
</div>